body{
background: #4a00fb; /* Old browsers */
background: -moz-linear-gradient(45deg, #4a00fb 0%, #e066ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #4a00fb 0%,#e066ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #4a00fb 0%,#e066ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}